body{
    padding:0;
    margin: 0;
    font-family: Arial, sans-serif;
    min-width: 1200px;
}
.first_section{
    background: url(img/welcometomogo.png) no-repeat center top / cover;
    height: 800px;
    width: 100%;

}
.clearfix{
    clear: both;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.logo{
    display: block;
    margin-top: 25px;
    font-size: 25px;
    float: left;
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-weight: bold;


}
.banner{
   height:14px;
}
.menu{
    padding:0;
    margin:0;
    list-style: none;

}
.list-item{
    display: inline-block;
}
.list{
    float:right;
    display:block;
    margin-top: 25px;
}
.main_menu{
    color: #fff;
    text-decoration:none;
    margin: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: Regular, sans-serif;
    border-bottom: 1px solid transparent;
    display: inline-block;

}
.main_menu:hover{
    color:#fce38a;
    border-bottom-color: #fce38a ;
}
.titles__first{
    margin-top: 75px;
    font-size: 58px;
    color: #fff;
    font-family: 'Kaushan Script',sans-serif;
    text-align: center;


}
.center_text{
    font-size:115px;
    color: #fff;
    text-align: center;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    margin: 0;
}
.straight{
    border:none;
    background-color:#fff;
    color:#fff;
    height: 2px;
    width: 50px;
    display:flex;
    justify-items: center;
    margin-top: 25px;
}
.button{
    border: 2px solid #fff;
    text-align:center;
    padding:7px 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    font-size:12px;
    display: inline-block;
    margin-top: 50px;
    margin-left: 535px;
}
.lines{
    clear: both;
}

.first_line {
    border-top: 2px solid #fff;
    float: left;
    margin-top: 130px;
    width: 250px;
    color: #fff;
    font-family: Monsterrat, sans-serif;
    text-decoration: none;
    padding-top: 20px;
    display: inline-flex;
}
.second_line{
    border-top: 2px solid #fff;
    margin-left: 60px;
    margin-top: 130px;
    width:250px;
    color:#fff;
    font-family:Monsterrat, sans-serif;
    padding-left: 0px;
    padding-top:20px;
    text-decoration:none;
    display: inline-flex;
}
.third_line{
    border-top: 2px solid #fff;
    margin-left: 60px;
    margin-top: 130px;
    width:250px;
    color:#fff;
    font-family:Monsterrat, sans-serif;
    padding-top:20px;
    text-decoration:none;
    padding-left: 0px;
    display: inline-flex;
}
.fourth_line{
    border-top: 2px solid #fff;
    margin-top: 130px;
    width:250px;
    color:#fff;
    font-family:Monsterrat, sans-serif;
    padding-top:20px;
    text-decoration:none;
    padding-left: 0px;
    float: right;
    display: inline-flex;

}
.lines a:hover{
    color:#f38181;
}
.second_section{
    height: 533px;
    width: 1200px;
    margin: 0px auto;
}

.what_we_do{
    font-family: 'kaushan script',sans-serif;
    font-size: 20px;
    color: #333333;
    text-align: center;
    margin-top: 50px;
}
.Story_about_us{
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #333333;
    text-transform: uppercase;
    word-spacing: 1px;
    font-size: 22px;

}
.straight_second{
    border:none;
    background-color:#f38181;
    color:#f38181;
    height:2px;
    display: flex;
    justify-items: center;
    width: 50px;
    margin-top: 20px;
}

.info{
    font-family: 'Roboto', sans-serif;
    color: #bfbfbf;
    font-size: 12px;
    text-align:center;
    margin-top: 30px;
}
.continuation_info{
    font-family:'roboto',sans-serif;
    color: #bfbfbf;
    font-size: 12px;
    text-align:center;
    margin-top:1px;
}
.pictures{
    margin-top: 50px;
}
.first_picture{
    background: url("img/users.png");
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    float: left;
    width: 390px;
    height: 130px;
    text-align: center;
    padding-top: 130px;
}
.third_picture{
    float: right;
    display: inline-flex;
}
.second_picture{
margin-left: 30px;
}
.third_section{
    height: 220px;
    margin: 0px auto;
    background-color: #95e1d3;
}
.border_left{
    display: flex;
    float: left;
    border-left: 1px solid #fff;
}
.forty_two{
    color:#fff;
    font-weight: bold;
    font-size: 40px;
}
.WDP{
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
}




