body{
    padding:0;
    margin: 0;
    font-family: Arial, sans-serif;
    min-width: 1200px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.first{
    background: url(img/welcometomogo.png) no-repeat center top / cover;
    width: 100%;
    padding-bottom:7px;
}
.clearfix{
    clear: both;
}
.container{
    width: 1200px;
    margin: 0 auto;


}
.logo{
    display: block;
    margin-top: 22px;
    font-size: 30px;
    float: left;
    font-family:sans-serif;
    color: #fff;
    font-weight: bold;

}
.menu{
    padding:0;
    margin:0;
    list-style: none;

}
.list-item{
    display: inline-block;
}
.list{
    float:right;
    display:block;
    margin-top: 27px;
}
.main_menu{
    color: #fff;
    text-decoration:none;
    margin-right:53px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 2px solid transparent;
    font-size: 13px;
}
.main_menu_picture{
    text-decoration:none;
    border-bottom: 2px solid transparent;
    margin-top:500px;
}
.cart{
    margin-right:36px;
}
.list-item-picture{
    display:inline-block;
    margin-top:3px;

}
.main_menu:hover{
    color:#fce38a;
    border-bottom: 2px solid #fce38a;
}
.titles{
    width: 800px;
    margin: 0px auto;
}
.titles__first{
    margin-top: 175px;
    font-size: 72px;
    color: #fff;
    font-family: 'Kaushan Script',sans-serif;
    text-align: center;

}
.center_text{
    color: #fff;
    font-size: 146px;
    display: inline-block;
    text-align: center;
    line-height: 140px;
    margin-top: 40px;
    margin-bottom:0px;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;


}
.straight{
    border:none;
    background-color:#fff;
    height: 4px;
    width: 60px;
    display: block;
    margin-top:58px;


}
.button{
    border: 2px solid #fff;
    text-align:center;
    padding:11px 27px 9px 27px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    font-size:15px;
    display: block;
    width:100px;
    margin: 0px auto;
    font-family: sans-serif;
    margin-top: 48px;
}
.lines{
    font-size: 20px;
    clear: both;
}
.first_line:first-child {
    border-top: 2px solid #fff;
    margin-left: 0;
    margin-top: 158px;
    width: 280px;
    color: #fff;
    font-family: sans-serif;
    text-decoration: none;
    padding-top: 28px;
    display: inline-flex;
}
.first_line {
    border-top: 2px solid #fff;
    margin-left: 20px;
    margin-top: 158px;
    padding-bottom: 20px;
    width: 280px;
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    padding-top: 28px;
    font-size: 17px;
    font-family: sans-serif;
    letter-spacing: 1px;

}
.numbers_one{
    font-size: 25px;
    line-height: 15px;
    letter-spacing: 1px;
}
.numbers{
    font-size: 25px;
    line-height: 15px;
    letter-spacing: 1px;
    margin-left:8px;
}
.numbers_fourth{
    font-size: 25px;
    line-height: 15px;
    letter-spacing: 1px;
    margin-left:16px;
}
.lines a:hover{
    color:#f38181;
}
.what_we_do{
    font-family: 'kaushan script',sans-serif;
    font-size: 24px;
    color: #333333;
    text-align: center;
    margin-top: 90px;
}
    .Story_about_us{
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #333333;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 29px;
    font-weight: bold;

}
.straight_second{
    border:none;
    height:4px;
    display: flex;
    justify-items: center;
    width: 60px;
    margin-top: 35px;
    background-color:#f38181;

}
.information{
    font-family: 'Roboto', sans-serif;
    color: #bfbfbf;
    font-size: 13px;
    text-align:center;
    width: 955px;
    padding-top: 35px;
    margin: 0px auto;
    line-height: 25px;
    letter-spacing: 1px;
    font-weight: bold;
}
.continuation_info{
    font-family:'roboto',sans-serif;
    color: #bfbfbf;
    font-size: 15px;
    text-align:center;
    line-height: 1px;
}
.picture{
    position: relative;
    width: 380px;
    height: 250px;
    overflow: visible;
    display: inline-block;
    background: #95e1d3;
    float: left;
    margin-top: 95px;
}
.picture__bg{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.picture__content{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.picture__content:hover{
    transform: translate(-10px, -10px);
}
.picture__text{
    color: #fff;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
}
.picture__icon{
    margin: 100px auto 10px;
    position: relative;
    width: 24px;
    color: #fff;
}
.picture__gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0,orange,red);
    opacity: 0;
}
.picture__gradient:hover{
    opacity: 0.3;
}
.others__picture{
    margin-top: 85px;
    display: inline-block;
}
.second_third_pictures{
    margin-left: 27px;
    width: 380px;
    height: 250px;
    margin-top:10px;

}
.second{
    padding-bottom: 108px;
}
.third {
    background-color: #95e1d3;
    margin: 0 auto;


}
.third_content:first-child{
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
    padding: 83px 49px 80px 49px;
    margin-left: 0px;
    width: 140px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 0px;
    font-family:'Montserrat',sans-serif;

}
.a_lot_of_numbers_first{
    font-size: 71px;
    font-weight: bold;
    color: #fff;
    font-family:'Montserrat',sans-serif;
    position:relative;
    bottom: 7px;
}
.a_lot_of_numbers{
    font-size: 71px;
    font-weight: bold;
    color: #fff;
    font-family:'Montserrat',sans-serif;
    position:relative;
    bottom: 12px;

}
.a_lot_of_words_first{
    font-size:14px;
    font-weight: bold;
    color: #fff;
    line-height: 38px;
    position:relative;
    right:14px;
    top:2px;
}
.a_lot_of_words{
    font-size:14px;
    font-weight: bold;
    color: #fff;
    position:relative;
    top:2px;
}
.third_content{
    border-right: 1px solid #fff;
    padding: 94px 47px 92px 47px;
    width: 140px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    font-family:'Montserrat',sans-serif;
}
.header_fourth{
    display:block;
    margin: 0px auto;
    margin-top:105px;
    text-align:center;

}
.a_ser{
    font-family:'Montserrat', sans-serif;
    line-height: 73px;
    text-transform: uppercase;
    font-size: 29px;
    display: block;
    margin: 0px auto;
    font-weight: bold;
}
.straight_second:last-child{
    margin-top:16px;
}
.fourth-straight{
    border:none;
    background-color: #e5e5e5;
    height: 2px;
    width: 1200px;
    margin-top:50px;

}
.fourths_content_pictures{
    position: relative;
    top: 22px;
    left:2px;

}
.titles_fourth{
    text-transform: uppercase;
    font-family: 'Montserrat',sans-serif;
    font-size:13px;
    margin-left: 29px;
    font-weight: bold;
    position:relative;
    top:2px;
}
.information_fourth{
    display: block;
    margin-left:60px;
    font-size: 15px;
    font-family: 'Roboto',sans-serif;
    width:300px;
    line-height: 25px;
    margin-top: 10px;
    color: #999999;
}
.up_content{
     margin-top: 32px;
     margin-left: 32px;
     display:inline-block;
}
.up_content:last-child{
    margin-top: 35px;
    margin-left: 32px;
    display:inline-block;
}
.up_content_second{
    margin-top: 17px;
    margin-left: 32px;
    display:inline-block;
}
.fourth{
    padding-bottom: 120px;
}
.what_we_do_fourth{
    font-family: 'kaushan script',sans-serif;
    font-size: 24px;
    color: #333333;
    text-align: center;
    margin-top: 105px;
    position:relative;
    top: 5px;
}
.fifth{
    background: url(img/unique_design.png) no-repeat center top /cover;
    padding-bottom: 710px;
}
.what_we_do_sixth{
    font-family: 'kaushan script',sans-serif;
    font-size: 24px;
    color: #333333;
    text-align: center;
    margin-top: 105px;
    position:relative;
    top: 5px;
}
.sixth_picture_content{
    position:relative;
    display:inline-block;
    top:10px;
    right:13px;
}
.titles_sixth{
    margin-right:425px;
    position:relative;
    left: 13px;
    display:inline-block;
    bottom:10px;
    text-transform:uppercase;
    font-size:14px;
    font-weight:bold;
}
.header_fifth{
    display: block;
    margin: 0px auto;
    text-align: center;
    padding-top: 105px;
}
.sixth_content_photo {
    display: inline-block;
    float:left;
    margin-top:88px;
    width:570px;
}
.header_sixth{
    display: block;
    margin: 0px auto;
    text-align: center;
    margin-top: 15px;
}
.content_sixth{
    display:inline-block;
    float:right;
    margin-top: 88px;
    border-spacing: 0px;

}
.triangle{
    border-top: 3px solid #e5e5e5;
    border-left: 3px solid #e5e5e5;
    display:inline-block;
    width:12px;
    height:12px;
    transform: rotate(50grad);
    position:relative;
    bottom:-5px;
    left:393px;
}
.first_table{
    border: 1px solid #e5e5e5;
    padding:15px 2px 9px 15px;
}
.second_table{
    border: 1px solid #e5e5e5;
    padding: 15px 0px 20px 20px;

}
.titles_sixth_second{
    font-family: 'Roboto',sans-serif;
    font-size:14px;
    color:#b3b3b3;
    line-height: 24px;
}
.content_sixth_second{
    display:inline-block;
    float:right;
    -webkit-border-vertical-spacing: 10px;
}
.third_table{
    border:1px solid #e5e5e5;
    padding:12px 0px 9px 15px;
}
.titles_sixth_third{
    margin-right:442px;
    position:relative;
    left: 13px;
    display:inline-block;
    bottom:10px;
    text-transform:uppercase;
    font-size:14px;
    font-weight:bold;
}
.triangle2{
    border-bottom: 3px solid #e5e5e5;
    border-left: 3px solid #e5e5e5;
    display:inline-block;
    width:12px;
    height:12px;
    transform: rotate(-50grad);
    position:relative;
    bottom:2px;
    left:420px;
}
.triangle3{
    border-bottom: 3px solid #e5e5e5;
    border-left: 3px solid #e5e5e5;
    display:inline-block;
    width:12px;
    height:12px;
    transform: rotate(-50grad);
    position:relative;
    bottom:2px;
    left:410px;
}
.straight_third{
    border:none;
    height:4px;
    display: flex;
    justify-items: center;
    width: 60px;
    margin-top: 20px;
    background-color:#f38181;
}
.second_information{
    font-family: 'Roboto', sans-serif;
    color: #bfbfbf;
    font-size: 13px;
    text-align:center;
    width: 955px;
    padding-top: 32px;
    margin: 0px auto;
    line-height: 25px;
    letter-spacing: 1px;
    font-weight: bold;
}
.seventh{
    background-color: #f8f8f8;
    padding-bottom:70px;
    margin-top:585px;

}
.triangle_seventh_content{
    border-bottom:3px solid #cfcfcf;
    border-left:3px solid #cfcfcf;
    transform: rotate(50grad);
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left:25px;
    position:relative;
    top:-20px;
}
.speech{
    border:3px solid #95e1d3;
    padding: 40px 40px;
    margin-left: 67px;
    display:inline-block;
    margin-top: 70px;
}
.seventh_text{
        font-family: 'Roboto', sans-serif;
        color: #999999;
        display: inline-block;
        font-size:21px;
        width: 300px;
        position:relative;
        top:54px;
        left:55px;
        line-height: 35px;
        letter-spacing:1px;
}
.triangle_seventh_content_second {
    border-bottom: 3px solid #cfcfcf;
    border-right: 3px solid #cfcfcf;
    transform: rotate(-50grad);
    display: inline-block;
    width: 12px;
    height: 12px;
    position: relative;
    top: -20px;
    left:590px;
}
.seventh_straight{
    border-top: 3px solid #f38181;
    width:59px;
    position:relative;
    top:21px;
    left:-120px;

}
.jd{
    font-family:'kaushan script', sans-serif;
    font-size:21px;
    letter-spacing: 1px;
    color: #333333;
    position: relative;
    left: 73px;
    top: -13px;
}
.header_eighth{
    display: block;
    margin: 0px auto;
    text-align: center;
    margin-top:95px;
}
.eighth_pictures{
    position: relative;
    width: 380px;
    height: 470px;
    overflow: visible;
    display: inline-block;
    background: #95e1d3;
    float: left;
    margin-top: 88px;
}
.share{
    border-right: 1px solid #fff;
    height:56px;
    width:222px;
    text-align: center;
    display: inline-block;
    background-color:#fce38a;
    position: relative;
    bottom: 267px;
    left:78px;
}
.first_picture_eighth{
    display: inline-block;
    border-right:1px solid #f38181;
    padding:15px 17px 15px 0px;
    position:relative;
    bottom:1px;
    left:15px;


}
.second_picture_eighth{
    display: inline-block;
    border-right:1px solid #f38181;
    padding:17px 13px 18px 0px;
    position:relative;
    left:27px;
}
.third_picture_eighth{
    display: inline-block;
    border-right:1px solid #f38181;
    padding:15px 20px 15px 0px;
    position:relative;
    left:38px;
    bottom:1px;
}
.fourth_picture_eighth{
    display: inline-block;
    padding:15px 0px 15px 52px;
    position:relative;
    right:5px;
}
.information_photo{
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    text-transform: uppercase;
    color:#333333;
    margin-left:141px;
    position: relative;
    bottom:37px;
    word-spacing:4px;
    font-weight:bold;
}
.photo_jobs{
    font-family: 'Montserrat', sans-serif;
    font-size:13px;
    color:#b3b3b3;
    margin-left:142px;
    position:relative;
    bottom:30px;
}
.eighth_picture_second{
    position: relative;
    width: 380px;
    height: 470px;
    display: inline-block;
    margin-top: 88px;
    margin-left:30px;
}
.information_photo_second{
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    text-transform: uppercase;
    color:#333333;
    margin-left:100px;
    position: relative;
    word-spacing:4px;
    top:23px;
    font-weight:bold;
}
.photo_jobs_second{
    font-family: 'Montserrat', sans-serif;
    font-size:13px;
    color:#b3b3b3;
    margin-left:125px;
    position:relative;
    top:30px;
}
.eighth_picture_third{
    position: relative;
    width: 380px;
    height: 470px;
    display: inline-block;
    margin-top: 88px;
    float:right;
}
.information_photo_third{
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    text-transform: uppercase;
    color:#333333;
    margin-left:127px;
    position: relative;
    top:23px;
    font-weight: bold;
    letter-spacing:1px;

}
.photo_jobs_third{
    font-family: 'Montserrat', sans-serif;
    font-size:13px;
    color:#b3b3b3;
    margin-left:160px;
    position:relative;
    top:30px;
}
.eighth{
    padding-bottom:155px;
}
.ninth{
    background-color: #f8f8f8;
   padding-bottom:60px;
}
.what_we_do_ten{
    font-family: 'kaushan script',sans-serif;
    font-size: 24px;
    color: #333333;
    text-align: center;
    margin-top: 90px;
    position:relative;
    top:10px;
}
.a_ser_ten{
    font-family:'Montserrat', sans-serif;
    line-height: 73px;
    text-transform: uppercase;
    font-size: 29px;
    display: block;
    margin: 0px auto;
    font-weight: bold;
    position:relative;
    top: 5px;
}
.ninth_picture{
    display:inline-block;
    margin-left:10px;
    margin-top: 60px;
}
.header_ten{
    display:block;
    margin: 0px auto;
    text-align: center;
    margin-top: 100px;
}
.ten{
    padding-bottom:95px;
}
.work_photo{
    width:100%;
}

