body{
    padding:0;
    margin: 0;
    font-family: Arial, sans-serif;
    min-width: 1200px;
}
.first_section{
    background: url(img/welcometomogo.png) no-repeat center top / cover;
    width: 100%;
    padding-bottom: 20px;

}
.clearfix{
    clear: both;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.logo{
    display: block;
    margin-top: 23px;
    font-size: 29px;
    float: left;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: bold;
}
.banner{
   height:14px;
}
.menu{
    padding:0;
    margin:0;
    list-style: none;

}
.list-item{
    display: inline-block;
}
.list{
    float:right;
    display:block;
    margin-top: 15px;
}
.main_menu{
    color: #fff;
    text-decoration:none;
    margin-left: 50px;
    margin-top: 22px;
    text-transform: uppercase;
    font-family:  sans-serif;
    border-bottom: 1px solid transparent;
    display: inline-block;
    font-size: 14px;


}
.main_menu:hover{
    color:#fce38a;
    border-bottom-color: #fce38a;
}
.titles__first{
    padding-top: 152px;
    font-size: 73px;
    color: #fff;
    font-family: 'Kaushan Script',sans-serif;
    text-align: center;
}
.center_text{
    color: #fff;
    font-size: 145px;
    display: block;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0px auto;
    letter-spacing: 0px;
    line-height: 135px;
    margin-top: 30px;

}
.straight{
    border:none;
    background-color:#fff;
    color:#fff;
    height: 4px;
    width: 60px;
    display:flex;
    justify-items: center;
    margin-top: 60px;
}
.button{
    border: 2px solid #fff;
    text-align:center;
    padding:9px 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    font-size:15px;
    display: block;
    width:100px;
    margin: 0px auto;
    font-family: sans-serif;
    margin-top: 50px;
}
.lines{
    font-size: 20px;
    clear: both;
}

.first_line:first-child {
    border-top: 2px solid #fff;
    float: left;
    margin-top: 160px;
    width: 280px;
    color: #fff;
    font-family: sans-serif;
    text-decoration: none;
    padding-top: 25px;
    display: inline-flex;
}
.first_line:nth-child(2) {
    border-top: 2px solid #fff;
    margin-left: 30px;
    margin-top: 160px;
    width:280px;
    color:#fff;
    font-family: sans-serif;
    padding-left: 0px;
    text-decoration:none;
    display: inline-flex;
    padding-top: 25px;
}
.first_line:nth-child(3){
    border-top: 2px solid #fff;
    margin-left: 20px;
    margin-top: 160px;
    width:280px;
    color:#fff;
    font-family: sans-serif;
    padding-top: 25px;
    text-decoration:none;
    padding-left: 0px;
    display: inline-flex;
}
.first_line:last-child{
    border-top: 2px solid #fff;
    margin-top: 160px;
    width:280px;
    color:#fff;
    font-family: sans-serif;
    padding-top: 25px;
    text-decoration:none;
    padding-left: 0px;
    float: right;
    display: inline-flex;
}
.lines a:hover{
    color:#f38181;
}
.second_section{
padding-bottom: 100px;
}

.what_we_do{
    font-family: 'kaushan script',sans-serif;
    font-size: 25px;
    color: #333333;
    text-align: center;
    margin-top: 85px;

}
.Story_about_us{
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #333333;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 30px;

}
.straight_second{
    border:none;
    background-color:#f38181;
    color:#f38181;
    height:4px;
    display: flex;
    justify-items: center;
    width: 60px;
    margin-top: 35px;

}

.info{
    font-family: 'Roboto', sans-serif;
    color: #bfbfbf;
    font-size: 15px;
    text-align:center;
    margin-top: 40px;


}
.continuation_info{
    font-family:'roboto',sans-serif;
    color: #bfbfbf;
    font-size: 15px;
    text-align:center;
    line-height: 1px;
}
.picture{
    position: relative;
    width: 380px;
    height: 250px;
    overflow:hidden;
    display: inline-block;
    margin-top: 90px;

}
.picture__bg{
    position: absolute;
    top: 0;
    left: 0;
    widht: 100%;
    height: 100%;
    float:left;
    border: 10px solid #95e1d3;

}
.picture__gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0, red, orange);
    opacity: 0;
}
.picture__icon{
    margin: 100px auto 10px;
    position: relative;
    width: 24px;
    color: #fff;
}
.picture:hover .picture__gradient{
    opacity: 0.3;
}
.picture__text{
    color: #fff;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    font-size:20px;
}
.picture_second_section:last-child{
    float:right;
    margin-top: 90px;
}
.picture_second_section{
    margin-left: 20px;
    margin-top: 90px;
}









